

.menu {
    background-color: tan;
    display: flex;
    justify-content: space-between;
    height: 12vh;
    width: 100vw;
    margin-bottom: 50px;
  }
  .menu Button {
    margin: 1vh;
    font-weight: bolder;
    color: white;
    background-color: black;
    height: 40px;
    size: lg;
  }
  
  #tokenissue {
    color: red;
    font-size: 16px;
  }
  
  .reviewcard {
    border: 2px 2px  solid grey;
    background: tan;
    padding: 2rem;
    margin: 3rem;
    text-align: left;
  }
  .reviewcard .reviewbutton {
    position: relative;
    margin-left: 100px;
    padding: 3rem;
    width: 300px;
  }
  .current-module {
    align-content: center;
    margin: 0 auto;
    
  }

  
  .jumbotron {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  
  .reviewButtonMenu {
    display: flex;
    justify-content: space-between;
  }